@import "../../variables.scss";

.about_page {
  .main_wrapper {
    margin-top: 50px;

    // about wrapper
    .about_wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .con {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        h2 {
          text-transform: capitalize;
        }
        p {
          padding: 15px 0 20px 0;
        }

        .img_con {
          border-radius: 10px;
          height: 500px;

          @media (max-width: 900px) {
            height: 350px;
          }

          @media (max-width: 500px) {
            height: 300px;
          }

          @media (max-width: 425px) {
            height: 240px;
          }
        }
      }
    }

    // team wrapper
    .team_wrapper {
      margin-top: 100px;

      h2 {
        text-align: center;
        text-transform: capitalize;

        span {
          color: $primary_color;
        }
      }

      p {
        text-align: center;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding-top: 5px;
      }

      .teams_box_con {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;

        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          flex-direction: column;

          .img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            object-position: center;
            object-fit: cover;
          }

          .txt {
            h4 {
              text-transform: capitalize;
              font-size: 15px;
              text-align: center;
            }

            p {
              text-transform: capitalize;
              font-size: 15px;
              font-weight: 500;
              text-align: center;
              padding-top: 0;
            }
          }
        }

        @media (max-width: 1024px) {
          .box .img {
            width: 150px;
            height: 150px;
          }
        }

        @media (max-width: 500px) {
          .box {
            .img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
