.services_page {
  .main_wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    .box {
      background: whitesmoke;
      padding: 50px 0;

      &:nth-child(odd) {
        background: white;

        .container {
          flex-direction: row-reverse;
        }
      }

      .container {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .img {
        width: 50%;
      }

      .txt_con {
        width: 50%;

        h3 {
          text-transform: capitalize;
          font-size: 20px;
        }
        .txt {
          margin-top: 20px;

          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      @media (max-width: 900px) {
        &:nth-child(odd) {
          .container {
            flex-direction: column;
          }
        }

        .container {
          flex-direction: column;
          gap: 10px;
        }

        .img {
          width: 100%;
        }

        .txt_con {
          width: 100%;

          h3 {
            font-size: 18px;
          }

          .txt {
            margin-top: 10px;
          }
        }
      }
    }

    @media (max-width: 900px) {
      margin-top: 20px;
    }
  }
}
