@import "../../variables.scss";

.contact_page {
  .main_wrapper {
    margin-top: 100px;
    .container {
      display: flex;
      gap: 30px;

      .txt_con {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .info_box {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .box {
            display: flex;
            gap: 10px;

            span {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              background: $primary_color;
              color: white;
            }

            .txt {
              h4 {
                text-transform: capitalize;
                font-size: 15px;
              }
            }
          }
        }

        .work_hours {
          h4 {
            text-transform: capitalize;
            font-size: 15px;
          }

          p {
            text-transform: capitalize;
            padding-top: 5px;
          }
        }

        .socials_con {
          h4 {
            text-transform: capitalize;
            font-size: 15px;
          }

          .con {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;

            span {
              height: 40px;
              width: 40px;
              background: $primary_color;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              color: white;
              font-size: 16px;
              cursor: pointer;
              transition: 0.4s ease;

              &:hover {
                box-shadow: 0 0 10px grey;
              }
            }
          }
        }
      }

      .form_section {
        width: 55%;

        h4 {
          text-transform: capitalize;
          font-size: 15px;
        }

        form {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .box_con {
            display: flex;
            align-items: center;
            gap: 20px;

            @media (max-width: 425px) {
              flex-direction: column;
            }
          }

          .input_con {
            border: 1px solid rgb(177, 176, 176);
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            flex: 1;
            width: 100%;

            input,
            textarea {
              padding: 15px;
              width: 100%;
              outline: none;
              border: none;
              background: transparent;
            }
            textarea {
              height: 200px;
            }
          }

          .btn {
            display: flex;
            justify-content: right;
            button {
              flex: 0.3;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;

        .txt_con {
          width: 100%;
        }

        .form_section {
          width: 100%;
        }
      }
    }

    @media (max-width: 900px) {
      margin-top: 50px;
    }
  }
}
