@import "../../variables.scss";

.home_page {
  // HOME SECTION STARTS HERE
  .home_section {
    width: 100%;
    height: fit-content;
    background-image: url("../../assets/2.jpg");
    background-size: cover;
    background-repeat: none;

    .main_wrapper {
      background: rgba(0, 0, 0, 0.837);

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-top: 150px;
        padding-bottom: 90px;

        .txt_con {
          width: 50%;
          padding-top: 100px;

          h1 {
            font-size: 40px;
            color: white;

            span {
              color: $primary_color;
            }
          }

          p {
            color: rgb(198, 198, 198);
            padding: 20px 0 30px 0;
          }

          .btns {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
              border: 2px solid transparent;
              &:first-child {
                background: transparent;
                color: white;
                border-color: white;
                display: none;
              }
            }
          }

          .license {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 40px;

            p {
              font-size: 13px;
            }

            img {
              width: 50px;
              height: 30px;
            }
          }
        }

        .img_con {
          width: 50%;
          display: none;
        }

        @media (max-width: 1200px) {
          .txt_con h1 {
            font-size: 30px;
          }
        }

        @media (max-width: 900px) {
          padding-top: 110px;

          .txt_con {
            width: 90%;
          }
        }

        @media (max-width: 500px) {
          .txt_con {
            width: 100%;

            h1 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  // HOME SECTION ENDS HERE

  // SERVICES SECTION STARTS HERE
  .services_wrapper {
    display: flex;
    flex-direction: column;

    .service_con {
      margin-top: 70px;

      &:nth-child(2) {
        .container {
          flex-direction: row;
        }
      }
      .container {
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
      }

      .img_con {
        width: 50%;
        height: 400px;
        border-radius: 10px;
      }

      .txt_con {
        width: 50%;

        p {
          padding: 15px 0 20px 0;
        }
      }

      @media (max-width: 900px) {
        &:nth-child(2) {
          .container {
            gap: 20px;
            flex-direction: column-reverse;
          }
        }
        .container {
          gap: 20px;
          flex-direction: column-reverse;
        }

        .img_con {
          width: 100%;
        }

        .txt_con {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        .img_con {
          height: 300px;
        }
      }

      @media (max-width: 435px) {
        .img_con {
          height: 240px;
        }
      }
    }
  }
  // SERVICES SECTION ENDS HERE
}
