@import "../../variables.scss";

.home_page {
  .home_section {
    width: 100%;
    height: fit-content;
    background-image: url("../../assets/homebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper {
      background: #0d3151ca;
      min-height: inherit;
      height: 100%;
      width: 100%;

      .container {
        padding-top: 230px;
        padding-bottom: 150px;

        .txt_con {
          width: 60%;

          h1 {
            font-size: 40px;
            color: white;

            span {
              color: $primary_color;
            }
          }

          p {
            padding: 20px 0;
            color: white;
            line-height: 25px;
          }

          .btns {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 15px;

            button {
              border: 2px solid transparent;

              &:hover {
                background: white;
                color: $primary_color;
              }

              &:first-child {
                background: transparent;
                color: white;
                border-color: white;

                &:hover {
                  background: white;
                  color: $primary_color;
                }
              }
            }

            @media (max-width: 325px) {
              flex-direction: column;

              button {
                width: 100%;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }

        @media (max-width: 900px) {
          .txt_con {
            text-align: center;
            width: 100%;

            h1 {
              font-size: 35px;
            }

            .btns {
              justify-content: center;
            }
          }
        }

        @media (max-width: 500px) {
          .txt_con h1 {
            font-size: 25px;
          }
        }
      }
    }
  }

  // about section
  .about_section {
    margin-top: 70px;
    .container {
      display: flex;
      align-items: center;
      gap: 20px;

      .txt_con {
        width: 50%;

        span {
          color: $primary_color;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 5px;
        }

        h2 {
          text-transform: capitalize;
          padding-top: 5px;
        }

        p {
          padding: 15px 0 20px 0;
        }
      }

      .img_con {
        width: 50%;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 500px) {
          height: 300px;
        }

        @media (max-width: 425px) {
          height: 240px;
        }
      }

      @media (max-width: 900px) {
        flex-direction: column-reverse;

        .txt_con {
          width: 100%;
        }

        .img_con {
          width: 100%;
        }
      }
    }
  }

  // services
  .services_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    .service_con {
      background: whitesmoke;
      padding: 70px 0;

      &:nth-child(2) {
        background: white;
        .container {
          flex-direction: row;
        }
      }
      .container {
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
      }

      .img_con {
        width: 50%;
        height: 350px;
        border-radius: 10px;
      }

      .txt_con {
        width: 50%;

        small {
          padding: 10px 20px;
          background: #2b86c7ad;
          border-radius: 20px;
          color: white;
          text-transform: capitalize;
          font-size: 13px;
        }

        h2 {
          margin-top: 20px;
        }

        p {
          padding: 15px 0 20px 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            display: flex;
            gap: 5px;

            list-style: none;
          }
        }
      }

      @media (max-width: 900px) {
        &:nth-child(2) {
          .container {
            flex-direction: column-reverse;
          }
        }
        .container {
          flex-direction: column-reverse;
        }

        .img_con {
          width: 100%;
        }

        .txt_con {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        .img_con {
          height: 300px;
        }
      }

      @media (max-width: 435px) {
        .img_con {
          height: 240px;
        }
      }
    }
  }
}
