@import "../../variables.scss";

.home_page {
  .home_section {
    width: 100%;
    height: fit-content;

    .main_wrapper {
      background: #020e19;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-top: 150px;
        padding-bottom: 90px;

        .txt_con {
          width: 50%;
          padding-top: 100px;

          h1 {
            font-size: 40px;
            color: white;

            span {
              color: $primary_color;
            }
          }

          p {
            color: rgb(198, 198, 198);
            padding: 20px 0 30px 0;
          }

          .btns {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
              border: 2px solid transparent;
              &:first-child {
                background: transparent;
                color: white;
                border-color: white;
              }
            }
          }

          .license {
            margin-top: 40px;

            p {
              font-size: 15px;
              color: rgb(198, 198, 198);

              span {
                background: rgb(198, 198, 198);
                color: $secondary_color;
                padding: 0 5px;
              }
            }
          }
        }

        .img_wrapper {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .img_box_con {
            background: transparent;
            height: 500px;
            width: 500px;
            position: relative;
            border-radius: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            &::before {
              content: "";
              position: absolute;
              height: 150px;
              width: 150px;
              background: $primary_color;
              transition: 0.4s ease;
              border: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .img {
              position: relative;

              img {
                z-index: 2;
                border-radius: 50% 0 50% 0 !important;
                width: 200px;
                height: 200px;
                position: absolute;
              }

              &:nth-child(1) img {
                bottom: 0;
                right: 0;
              }

              &:nth-child(2) img {
                bottom: 0;
                left: 0;
              }

              &:nth-child(3) img {
                right: 0;
                top: 0;
              }

              &:nth-child(4) img {
                top: 0;
                left: 0;
              }
            }
          }
        }

        @media (max-width: 1200px) {
          .txt_con h1 {
            font-size: 30px;
          }

          .img_wrapper .img_box_con .img img {
            width: 170px;
            height: 170px;
          }
        }

        @media (max-width: 1100px) {
          .img_wrapper .img_box_con .img img {
            width: 140px;
            height: 140px;
          }
        }

        @media (max-width: 900px) {
          padding-top: 110px;

          .img_wrapper {
            display: none;
          }

          .txt_con {
            width: 90%;
          }
        }

        @media (max-width: 500px) {
          .txt_con {
            width: 100%;

            h1 {
              font-size: 25px;
            }
          }
        }
      }
    }

    .partners_section {
      background: $bg_color_alt;
      .container {
        display: flex;
        align-items: center;
        padding: 30px 0;
        width: 100%;
        padding-right: 5%;

        .txt_con {
          min-width: 300px;
          padding-left: 5%;

          p {
            font-size: 16px;
            font-weight: 500;
          }

          h3 {
            font-size: 18px;
            white-space: nowrap;
          }
        }

        .swiper_wrapper {
          width: calc(100% - 300px);

          .swiper_con {
            .box {
              height: 100px;
              width: 150px;
              border: 1px solid rgb(207, 205, 205);
              padding: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              overflow: hidden;

              img {
                width: 70px;
                height: 25px;
              }
            }
          }
        }

        @media (max-width: 900px) {
          .swiper_wrapper {
            width: 100%;
            padding: 0 5%;

            .swiper_con .box {
              height: 80px;
              width: 100px;

              img {
                width: 50px;
              }
            }
          }

          .txt_con {
            display: none;
          }
        }
      }
    }
  }

  // about section
  .about_section {
    margin-top: 70px;
    .container {
      display: flex;
      align-items: center;
      gap: 20px;

      .txt_con {
        width: 50%;

        h2 {
          text-transform: capitalize;
          padding-top: 5px;
        }

        .txt {
          padding: 15px 0 20px 0;
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
      }

      .img_con {
        width: 50%;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 500px) {
          height: 300px;
        }

        @media (max-width: 425px) {
          height: 240px;
        }
      }

      @media (max-width: 900px) {
        flex-direction: column-reverse;

        .txt_con {
          width: 100%;
        }

        .img_con {
          width: 100%;
        }
      }
    }
  }

  // services
  .services_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    .service_con {
      background: whitesmoke;
      padding: 70px 0;

      &:nth-child(2) {
        background: white;
        .container {
          flex-direction: row;
        }
      }
      .container {
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
      }

      .img_con {
        width: 50%;
        height: 350px;
        border-radius: 10px;
      }

      .txt_con {
        width: 50%;

        small {
          padding: 10px 20px;
          background: #2b86c7ad;
          border-radius: 20px;
          color: white;
          text-transform: capitalize;
          font-size: 13px;
        }

        h2 {
          margin-top: 20px;
        }

        p {
          padding: 15px 0 20px 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            display: flex;
            gap: 5px;

            list-style: none;
          }
        }
      }

      @media (max-width: 900px) {
        &:nth-child(2) {
          .container {
            flex-direction: column-reverse;
          }
        }
        .container {
          flex-direction: column-reverse;
        }

        .img_con {
          width: 100%;
        }

        .txt_con {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        .img_con {
          height: 300px;
        }
      }

      @media (max-width: 435px) {
        .img_con {
          height: 240px;
        }
      }
    }
  }
}
