@import "../../variables.scss";

.products_page {
  .main_wrapper {
    margin-top: 50px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .product_con {
        display: flex;
        align-items: center;
        gap: 30px;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }

        .txt_con {
          width: 50%;

          h3 {
            text-transform: capitalize;
            font-size: 25px;
          }

          p {
            padding: 15px 0 25px 0;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
              list-style: none;
              display: flex;
              gap: 5px;
            }
          }

          .btn {
            margin-top: 30px;

            a {
              display: flex;
              align-items: center;
              gap: 5px;
              text-transform: capitalize;
              font-size: 16px;
              color: $primary_color;
              text-decoration: none;
              font-weight: 500;
              transition: 0.4s ease;

              &:hover {
                color: $secondary_color;
              }

              span {
                line-height: 0;
              }
            }
          }
        }

        .img {
          width: 50%;
        }

        @media (max-width: 900px) {
          flex-direction: column-reverse;
          gap: 10px;

          &:nth-child(even) {
            flex-direction: column-reverse;
          }

          .img {
            width: 100%;
          }

          .txt_con {
            width: 100%;
          }
        }
      }
    }
  }
}
