@import "./variables.scss";

// @import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  // font-family: "Pathway Extreme", sans-serif;
}

body {
  height: 100%;
  background: white;
  width: 100vw !important;
  overflow-x: hidden !important;
}

.main_app {
  width: 100vw !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: $secondary_color;
  font-family: "Radio Canada", sans-serif;
  span {
    font-family: "Radio Canada", sans-serif;
  }
}

h2 {
  font-size: 25px;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

p,
li {
  font-size: 15px;
  color: $secondary_color_alt;
  line-height: 23px;
  font-weight: 450;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 90%;
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: inherit !important;
}

.check_mark {
  font-size: 10px;
  color: $primary_color;
  padding: 5px 5px;
  background: #2b86c742;
  height: fit-content;
  border-radius: 5px;
  line-height: 0;
}

button {
  padding: 15px 30px;
  text-transform: capitalize;
  font-size: 14px;
  background: $primary_color;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    line-height: 0;
  }

  &:hover {
    padding: 15px 35px;
  }
}

.header {
  width: 100%;
  height: 300px;
  background-image: url("./assets/2.jpg");
  background-repeat: none;
  background-size: cover;

  .wrapper {
    background: rgba(0, 0, 0, 0.719);
    height: inherit;

    .container {
      padding-top: 150px;

      h2 {
        text-transform: capitalize;
        font-size: 25px;
        color: white;
      }

      p {
        color: rgb(213, 211, 211);
        margin-top: 5px;
        width: 60%;
      }

      @media (max-width: 768px) {
        h2 {
          font-size: 20px;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}

.list_con {
  display: flex;
  flex-direction: column;
  gap: 13px;

  li {
    display: flex;
    gap: 5px;
    list-style: none;

    span {
      margin-top: 2px;
    }
  }
}
